*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: serif,Arial, Helvetica, sans-serif;
  font-size: 30;
  font-weight: 200;
}
.navbar{
  font-weight:bold;
  display: flex;
  align-items: space-between;
  justify-content: center;
  background-color: orange;
  height:50px;
}
ul{
  list-style-type: none;
  display: flex;
  margin-right:20px;
  padding: 20px;
  gap: 30px;
}
#logo{
  padding-right: 60px;
}